#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sidebar-item {
  @apply text-white bg-black transition;
}
.sidebar-item:hover, .sidebar-item.ps-active {
  @apply text-black bg-white;
}


